{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}

{% block main-content %}
<section class="section section-divider gray about" id="about" style="background-image: url('/static/app/images/hero-bg.jpg')">
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3 ">
            <h3 class="alert-handling" style="color: white;">Well Done!</h3>
            <p style="color: white;">An Email has been sent with instructions to reset your Password!!</p>
            <div class="text-left">
                <h1 style="font-family: Georgia; font-size: 20px; color: white;">Please Check Email.. !</h1></div>
        </div>
    </div>
</div>
</section>

{% endblock main-content %}