{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}

{% block main-content %}
<section class="section section-divider gray about" id="about" style="background-image: url('/static/app/images/hero-bg.jpg')">
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Reset Completed!!</h3>
            <hr>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock main-content %}